{% extends 'LipCollection/navbar.html' %}
{% block body %}
    <div class="background">
        <div class="container">
            <h3>About</h3>
            <p>
                I have been collecting lip items since my junior year of high school (2015).
                It first started with an innocent Orange-Mango Blistex Smoothie lip balm, where I loved the scent and couldn't resist applying it constantly.
                After that, I bought the unique and fun Chapstick Strawberry-Banana Mixstick, with two ends and amazing flavors.
            </p>
        </div>
    </div>
{% endblock %}