{% extends 'LipCollection/navbar.html' %}
{% block body %}
    <div class="background">
        <div class="container">
            <div class="row">
                <h3>About</h3>
                <div class="item">
                    <img class="about" width="300px" src="https://i.imgur.com/B821fLS.jpg">
                    <div class="about-text">
                        <h5>
                            I have been collecting lip items since my junior year of high school (2015).
                            It first started with an innocent Orange-Mango Blast Blistex lip balm, where I loved the scent and couldn't resist applying it constantly.
                            After that, I bought the unique and fun Chapstick Strawberry-Banana Smoothie Mixstick, with two ends and amazing flavors.
                            Then came Softlips watermelon, with its slim tube and fantastic scent, and the crisp green apple Chapstick followed.
                        </h5>
                    </div>
                </div>
                <div class="item">
                    <img class="about" width="300px" src="https://i.imgur.com/8Ues8kE.jpg">
                    <div class="about-text">
                        <h5>
                            After that, I started noticing the flavorful tubes of wax at all the stores around me.
                            On my summer trip to Chicago, I added every flavor of the Revlon Kiss lip balms to my collection.
                            I collected a ton of new Chapstick flavors, also adding more Softlips and Blistex.
                            I fell in love with the EOS tube formula and flavors.
                            I also loved the fancy Pacifica shimmery tinted lip balm, that also had a great scent.
                        </h5>
                    </div>
                </div>
                <div class="item">
                    <img class="about" width="300px" src="https://i.imgur.com/O9q514D.jpg">
                    <div class="about-text">
                        <h5>
                            I'm now so addicted to lip products, that I have a monthly budget to how many I can add to my collection.
                            I currently almost have 800 lip balm, 90 lip gloss, and 50 lip scrubs. I have them proudly on display, like trophies or a collection of silver spoons.
                            I also always have four different flavors of lip balm in my pocket at a time, because I need to reapply lip balm to keep my lips moisturized 24/7.
                            It's definitely not at world records yet, considering the record for lip balm is around 5000.
                            However, I definitely am not planning on stopping buying lip balm, so I might hit a world record someday!
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}