{% extends 'LipCollection/navbar.html' %}
{% block body %}
    <div class="background">
        <div class="container">
            <h3>Lip Balms</h3>
            <div class="row search">
                <form action="" method="GET">
                    <input type="search" name="search_item">
                    <button type="submit">Search</button>
                </form>
            </div>

            {% if lip_balms.has_previous %}
                <a class="page balm" href="?page=1">First</a>
                <a class="page balm" href="?page={{ lip_balms.previous_page_number }}">Previous</a>
            {% endif %}
            Page: {{ lip_balms.number }} of {{ lip_balms.paginator.num_pages }}
            {% if lip_balms.has_next %}
                <a class="page balm" href="?page={{ lip_balms.next_page_number }}">Next</a>
                <a class="page balm" href="?page={{ lip_balms.paginator.num_pages }}">Last</a>
            {% endif %}

            <div class="row">
                {% for lip_balm in lip_balms %}
                    <a href="{% url 'LipCollection:detail' lip_balm.id %}" class="item balm">
                        <div class="text">
                            <h6 class="name">{{ lip_balm.Name }}</h6>
                            <h6>{{ lip_balm.Brand }}</h6>
                            <h6>{{ lip_balm.Flavor }}</h6>
                            <h6>${{ lip_balm.Price }}.00</h6>
                            <h6>{{ lip_balm.Rarity }}</h6>
                        </div>
                        <img class="card" src="{{ lip_balm.Picture.url }}"/>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
