{% extends 'LipCollection/navbar.html' %}
{% block body %}
    <div class="background">
        <div class="container">
            <h3>Lip Glosses</h3>
            <div class="row search">
                <div class="col-md-4">
                    <form action="" method="GET">
                        <input type="search" name="search_item">
                        <button type="submit">Search</button>
                    </form>
                </div>
                <h5 class="sort">Sort by: </h5>
                <div class="sort">
                    <a href="?sort_by=Name"><button>Name A-Z</button></a>
                    <a href="?sort_by=Brand"><button>Brand A-Z</button></a>
                    <a href="?sort_by=Price"><button>Price $-$$$</button></a>
                </div>
            </div>

            {% if lip_glosses.has_previous %}
                <a class="page gloss" href="?page=1">First</a>
                <a class="page gloss" href="?page={{ lip_glosses.previous_page_number }}">Previous</a>
            {% endif %}
            Page: {{ lip_glosses.number }} of {{ lip_glosses.paginator.num_pages }}
            {% if lip_glosses.has_next %}
                <a class="page gloss" href="?page={{ lip_glosses.next_page_number }}">Next</a>
                <a class="page gloss" href="?page={{ lip_glosses.paginator.num_pages }}">Last</a>
            {% endif %}

            <div class="row">
                {% for lip_gloss in lip_glosses %}
                    <a href="{% url 'LipCollection:detail' lip_gloss.id %}" class="item gloss">
                        <div class="text">
                            <h6 class="name">{{ lip_gloss.Name }}</h6>
                            <h6>{{ lip_gloss.Brand }}</h6>
                            <h6>{{ lip_gloss.Flavor }}</h6>
                            <h6>${{ lip_gloss.Price }}.00</h6>
                            <h6>{{ lip_gloss.Rarity }}</h6>
                        </div>
                        <img class="card" src="{{ lip_gloss.Picture.url }}"/>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
