.background {
    background-image: url("rainbow.jpg");
    background-size: 40%;
    text-align: center;
}

.page {
    color: #343a40;
    margin: 5px;
}

.img {
    height: 185px;
    border: none;
    float: left;
}

.text {
    float: right;
    margin: 5px;
}

.zoom:hover {
  transform: scale(1.5);
}

.zoom {
    width: 210px;
}

.about {
    float: left;
    margin-right: 50px;
    border-radius: 15px;
}

.search {
    margin: 5px;
}

.about-text {
    margin: 15px;
}

.item {
    border: 5px solid white;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    color: #343a40;
}

.balm:hover {
     color: #baffc9;
}

.gloss:hover {
    color: #bae1ff;
}

.scrub:hover {
    color: #d0baff;
}

.home {
    width: 68.5%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sort {
    margin-right: 15px;
}

.container {
    border: 5px solid lightgrey;
    background-color: lightgrey;
    border-radius: 10px;
    color: #343a40;
}

navbar {
    font-size: 20px;
}

#title {
    color: #ffb3ba;
}

#home {
    color: #ffdfba;
}

#about {
    color: #ffffba;
}

#balm {
    color: #baffc9;
}

#gloss {
    color: #bae1ff;
}

#scrub {
    color: #d0baff;
}